.pcsoft-section {
  background-color: white;
  padding: 80px 60px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pcsoft-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 60px;
  color: #1e1e1e;
  text-align: center;
  width: 100%;
}

.pcsoft-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1400px;
  width: 100%;
  flex-wrap: wrap;
}

.pcsoft-image-container {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  text-align: center;
}

.pcsoft-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.pcsoft-text-container {
    
  flex: 2;
  min-width: 300px;
  color: #1e1e1e;
}

.pcsoft-subtitle {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: rgb(98, 143, 211);
}

.pcsoft-description p {
     text-align: justify;
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #444;
}

.pcsoft-description strong {
  font-weight: 600;
  color: #000;
}
.exp-highlight {
  border-bottom: 4px solid #ff6600; /* orange vif */
  padding-bottom: 5px;
  display: inline-block;
  color: #1e1e1e;
  position: relative;
}