.div_contact_main{
     width:60%;
    margin: 50px auto;
   
    padding: 50px;
    
}
.table-responsive{
    margin: 10%;
}
table thead .thead-dark{
    background-color: #33a56c ;
    color: #0000ff;
}