
.expertises-section {
   
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* 1cap */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.expertises-container {
  width: 100%;
  height: 100%;
  padding: 60px 40px;
  padding-left: 200px; /* décalage vers la droite */
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.expertises-title {
  font-family: "Roboto", sans-serif;
  font-size:4.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 40px;
  text-align: left;
  /* border-bottom: 4px solid white; soulignement blanc */
  display: inline-block;
  padding-bottom: 10px;
}
.exp-highlight {
  border-bottom: 4px solid white;
  padding-bottom: 5px;
  display: inline-block;
  color: white;
}


.expertises-description {
  max-width: 700px;
   font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  color: white;
  margin-bottom: 40px;
}

.expertises-description strong {
  color: white;
  font-weight: 600;
}

.expertises-button-container {
   font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: left;
}

.expertises-button {
  background-color: #f38033;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 14px 28px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.expertises-button:hover {
  background-color: transparent;
  border: 2px solid #ff6600;
  transform: scale(1.05);
  color: white;
  font-size: 1.2rem;
}


.expertises-button i {
  font-size: 1.2rem;
  color: white;
  transition: all 0.3s ease;
}

/*.expertises-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 119, 146, 0.45); /* bleu clair transparent 
  z-index: 1;
  pointer-events: none;
   will-change: transform
}*/

.exp-highlight {
  border-bottom: 4px solid #ff6600; /* soulignement orange */
  padding-bottom: 5px;
  display: inline-block;
  color: white; 
}

