
.offresDeServiceFlexColumn {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	align-items: flex-start;
	justify-content: center;
	min-height: 100vh;
	max-width: 1080px;
	margin: 0 auto;
}

